@keyframes efectp{
    from {
        height: 35vh;
    }
    to {
        height: 70vh;
    }  
}
@keyframes efectp2{
    from {
        height: 70vh;
    }
    to {
        height: 35vh;
    }
 }
@keyframes flotando{
    0% {
        bottom: 0px;

    }
    25% {
        bottom: 30px;    
    }
    50% {
        bottom: 0px;
    }
    75% {
        bottom: -30px;
    }
    100% {
        bottom: 0px;
    }
}     

@font-face {
    font-family: L;
    src: url(./Fuentes/Gabriela-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    font-family: "L";

}

body {
    background-color: black;
}
.todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.as{
    width: 95vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    max-width: 100vw;  
}
.ref {
    color: black;
}
.ref:hover {
    text-shadow: 0px 0px 21px rgba(255,0,0,250);
}
.principal {
    display: flex;
    flex-direction: row;
    height: 100%;   
}
.imgp {
width: 40vw;
position: absolute;
border: 0px;
z-index: 3;
}
.imgpd {
width: 55vw;
position: absolute;
left: 40vw;
object-fit: fill;
z-index: 1;
height: 35vh;

}
.text, h2{
width: 50vw;
z-index: 3;
position: relative;
text-align: left;
margin-left: 30px;
margin-top: 10px;

}
.imgs {
    display: flex;
    flex-direction: row;
    bottom: 0px;
    margin: 0px;
    border: 0px;
    width: 95vw;
  
}
img {
    object-fit: cover;
    width: 33vw;
    height: 35vh;
    border-color: black;
    border-style: solid;
}
#backimagen {
    position: absolute;
    z-index: 1;
    
    width: 100%;
    height: 35vh;

}
#frontimagen {
    width: 100%;
    
}
.as:hover {
    animation: efectp;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}
.text a {
    text-decoration: underline;
}
/* En mantenimiento (? 
.as:not(hover) {
    animation: efectp2;
    animation-duration: 2s;    
} */

/*----------------------------------------- NAV ----------------------------------------------*/
.nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    justify-content: space-between;



}
.nav a {
    list-style: none;
    text-decoration: none; 
    color: black;
    text-transform: capitalize;
    letter-spacing: 0.3em;
    transition: 0.9s;
    font-size: 1.1em;


}
.nav :hover {
    letter-spacing: 0.3em;
    text-shadow: 0px 0px 10px red;
    font-size: 1.2em;
}
.navitems {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 50px;
}
#logo {
    border: 0px;
    height: 100%;
    width: 200px;
}
/*---------------------------------textointro------------------------------------*/
.intro {
    display: flex;
    flex-direction: row;
    height: 90vh;
}
.textointro {

}
.t1, .t2, .titulo, h1{
    color: white;
    padding: 10px;
}
.t1 {
    font-size: 1.1em;
}

.t2 {
    font-size: 0.9em;
    
}
.titulo {
    font-size: 1.2em;
    padding-top: 0%;
    text-decoration: underline;
}
.machineimg {
    border: 0px;
    height: 100%;
    object-fit: contain;
    position: relative;
    animation: flotando;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function:cubic-bezier(2, 2, 2, 2)
    
}
footer {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.end {
    height: 100%;
    width: auto;

}
.textgaleria, h3 {
    color: white;
    font-size: 1.4rem;
    margin: 10px;
}
.introgaleria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*----------------------------galeria--------------------------------------------*/
.galery {
    display: flex;
    flex-direction: column;
}
.fila {
    display: flex;
    flex-direction: row;
    width: 100vh;
    max width: 100vh;
    height: 80vh;
}
.fila img{
    height: 100%;
    width: auto;
    max-width: 19.6vw;
    padding: 0px;
    border: 0px;
    margin: 0px;
}   


/*------------------------pide contacto ra-----------------------------*/
.contacto {
    background-color: white;
    padding: 5%;
    margin-bottom: 5px;

}
.contactoitems {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.redes, .directo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: '2';
    width: 30%;
    margin: 2%;
    align-items: left;
    text-align: start;
    
}
.redes, a {
    text-decoration: none;
    color: black;
}
/*--------------------------------registro----------------------------------*/
.introreg {
    height: auto;
    padding: 30px;
    text-align: center;
}
.textoreg {
    color: white;
}
.formulario {
    display: flex;
    flex-direction: column;
}
.formitems {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 30px;
}
.formulario, input {
    width: 300px;
    top: 15px;
    border-radius: 12px;
}
#proof {
    height: 130px;
}
label {
    margin-bottom: 15px;
}
/*----------------------------------login------------------------------*/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loginitems {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    margin: 20px;
}